name: Docker Image CI

on:
  workflow_dispatch:
  push:
    branches: [ main, master ]
  pull_request:
    branches: [ main, master ]
jobs:
  build-and-push:
    runs-on: ubuntu-latest
    env:
      continue: 'false'
    strategy:
      matrix:
        service:
          - name: "aleksandromilenkov/auction-svc"
            path: "src/AuctionService"
          - name: "aleksandromilenkov/search-svc"
            path: "src/SearchService"
          - name: "aleksandromilenkov/bid-svc"
            path: "src/BiddingService"
          - name: "aleksandromilenkov/notify-svc"
            path: "src/NotificationService"
          - name: "aleksandromilenkov/identity-svc"
            path: "src/IdentityService"
          - name: "aleksandromilenkov/gateway-svc"
            path: "src/GatewayService"
          - name: "aleksandromilenkov/web-app"
            path: "frontend/web-app"
          
    steps:
    - name: Checkout code
      uses: actions/checkout@v3
      with:
        fetch-depth: 2

    - name: Check for changes in service path
      run: |
        if git diff --quiet HEAD^ HEAD -- ${{ matrix.service.path }}; then
          echo "No changes in ${{ matrix.service.path }}, skipping build."
          echo "continue=false" >> $GITHUB_ENV
        else
          echo "Changes detected in ${{ matrix.service.path }}, proceeding with build."
          echo "continue=true" >> $GITHUB_ENV
        fi

    - name: Set up Docker Buildx
      if: env.continue == 'true'
      uses: docker/setup-buildx-action@v2

    - name: Login to DockerHub
      if: env.continue == 'true'
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_TOKEN }}

    - name: Build and push docker image
      if: env.continue == 'true'
      uses: docker/build-push-action@v6
      with:
        context: .
        file: ${{ matrix.service.path }}/Dockerfile
        push: true
        tags: ${{ matrix.service.name }}:latest